*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
body{
    background-color:#041a2d;
    color: #ffffff;
}
header {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    position: sticky;
}

nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: #bfcbce;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #ffffff;
    border-bottom: 2px solid rgb(106, 0, 255);
}

.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.listeJoueurs{
    width: 45%;
    margin: 2.5%;
}

.historique{
    width: 45%;
    margin: 2.5%;
}


/*css des cartes de joueurs*/
.carte{
    width: auto;
    background-color: #687578;
    border-radius: 2em;
    display: flex;
    padding: 3%;
}

.infoJoueur{
    width: 50%;
}

.CarteImage{
    width: 50%;
}
/* fin du css des cartes de joueurs*/