*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

:root{
    --bg : #031e32;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(130deg,#031e32,#022d3b,#031e32);
}

/*debut du contenu de la page*/
.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.corps h1{
    text-align: center;
    margin: 5%;
    color: #f0f8ff;
}

.listeJoueurs{
    width: 50%;
    height: 100%;
    justify-content: center;
    border-right: 2px solid #f0f8ff7c;
}

.historique{
    width: 50%;
    height: 100%;
    justify-content: center;
}

.carteJoueur{
    margin-left: auto;
    margin-right: auto;
}
.carteMatch{
    margin-left: auto;
    margin-right: auto; 

}
/*fin contenu de la page*/
