
/*debut css carte de joueur*/
.carteJoueur{
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    transition: 0.5s;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    cursor: pointer;
}

#nonClickable{
    cursor: default;
}

.carteJoueur:hover{
    height: 350px;
}

.carteJoueur .contourJoueur{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

/*line du contour*/
.carteJoueur .contourJoueur::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: animateJoueur 4s linear infinite;
}
@keyframes animateJoueur {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.carteJoueur .contourJoueur::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.carteJoueur .boiteimageJoueur{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 120px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.carteJoueur:hover .boiteimageJoueur{
    width: 200px;
    height: 160px;
}

.carteJoueur .boiteimageJoueur::before{
    content: '';
    position: absolute;
    top :50%;
    left:50%;
    width: 500px;
    height: 500px;
    background:#96810b;
    transform: translate(-50%,-50%);
}

.carteJoueur .boiteimageJoueur::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.carteJoueur .boiteimageJoueur .imageJoueur{
    position: absolute;
    margin: 10px;
    z-index: 1;
    width: calc(100%-20px);
    height: calc(100%-20px);
}

.carteJoueur .boiteInfoJoueur{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.carteJoueur .boiteInfoJoueur .detailsJoueur{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(100px);
}

.carteJoueur:hover .boiteInfoJoueur .detailsJoueur {
    transform: translateY(80px);
}

.carteJoueur .boiteInfoJoueur .detailsJoueur h2{
    transform: translateY(-30px);
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    margin-right: 20%;
    margin-left: 20%;
}
.carteJoueur .boiteInfoJoueur .detailsJoueur h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: #ffffff;
}

.carteJoueur .boiteInfoJoueur .detailsJoueur .infoJoueur{
    display: inline-flex;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
}

.carteJoueur .boiteInfoJoueur .detailsJoueur h3{
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    margin-left: 3%;
    margin-right: 3%;
}
.carteJoueur .boiteInfoJoueur .detailsJoueur h3 span{
    font-size: 0.75em;
    font-weight: 500;
    color: #ffffff;
}
.carteJoueur .boiteInfoJoueur .detailsJoueur .optionJoueur{
    transform: translatey(20px);
}

.carteJoueur .boiteInfoJoueur .detailsJoueur .optionJoueur .boutonJoueur{
    text-decoration: none;
    background: #031e32;
    color: #45f3ff;
    border-radius: 10px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/*fin css carte de joueur*/

/*debut css carte de Joueur pour les details d'equipe*/

.carteJoueurDetail{
    position: relative;
    width: 350px;
    height: 130px;
    transition: 0.5s;
    cursor: pointer;
    display: inline-flex;
}

.carteJoueurDetail .contourJoueurDetail{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

/*line du contour*/
.carteJoueurDetail .contourJoueurDetail::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120%;
    height: 60px;
    background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: animateJoueurDetail 4s linear infinite;
}
@keyframes animateJoueurDetail {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.carteJoueurDetail .contourJoueurDetail::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #1c1c1c;
}

.carteJoueurDetail .boiteimageJoueurDetail{
    position: absolute;
    width: 100px;
    height: 80px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    margin: 3%;
    transform: translateY(20%);
}

.carteJoueurDetail .boiteimageJoueurDetail::before{
    content: '';
    position: absolute;
    top :50%;
    left:50%;
    width: 500px;
    height: 500px;
    background:linear-gradient(transparent,#96810b,#96810b,#96810b,transparent);
    transform: translate(-50%,-50%);
}

.carteJoueurDetail .boiteimageJoueurDetail::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.carteJoueurDetail .boiteimageJoueurDetail .imageJoueurDetail{
    position: absolute;
    margin: 10px;
    z-index: 1;
    width: calc(100%-20px);
    height: calc(100%-20px);
}

.carteJoueurDetail .boiteInfoJoueurDetail{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transform: translateX(50%);
    width: 65%;
}

.carteJoueurDetail .boiteInfoJoueurDetail .JoueurDetail{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}
.carteJoueurDetail .boiteInfoJoueurDetail .JoueurDetail h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.carteJoueurDetail .boiteInfoJoueurDetail .JoueurDetail h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: #ffffff;
}


/*fin css carte de Joueur pour les details d'equipe*/