/*debut css carte d'un match*/
.carteMatch{
    position: relative;
    width: 450px;
    height: 190px;
    background: #fff;
    margin-bottom: 5%;
    transition: 0.5s;
    cursor: pointer;
}

.carteMatch:hover{
    height: 250px;
}

.carteMatch .contourMatch{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

/*line du contour*/
.carteMatch .contourMatch::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background:#96810b
}

.carteMatch .contourMatch::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.Equipe{
    display: inline-flex;
}
.carteEquipe{
    z-index: 1;
    margin: 3%;
    width: 200px;
}

.Equipe .Versus{
    height: 50px;
    width: 50px;
    z-index: 1;
    transform: translateY(80%);
    background: #e3e3e3;
    border-radius: 3%;
    padding: 2px;
}

.carteMatch .boiteInfoMatch{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.carteMatch .boiteInfoMatch .detailsMatch {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(-70px);
    display: inline-flex;
    justify-content: space-around;
  }

.carteMatch .boiteInfoMatch .detailsMatch h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
}
.carteMatch .boiteInfoMatch .detailsMatch h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: #ffffff;
}

.carteJoueur .boiteInfoJoueur .detailsJoueur .option{
    transform: translatey(20px);
}

.carteJoueur .boiteInfoJoueur .detailsJoueur .option .bouton{
    text-decoration: none;
    background: #031e32;
    color: #45f3ff;
    border-radius: 10px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.carteMatch .boiteInfoMatch .detailsMatch .optionMatch{
    transform: translatey(20px);
}

.carteMatch .boiteInfoMatch .detailsMatch .optionMatch .boutonMatch{
    text-decoration: none;
    background: #031e32;
    color: #45f3ff;
    border-radius: 10px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/*fin css carte de joueur*/