*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

:root{
    --bg : #031e32;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(130deg,#031e32,#022d3b,#031e32);
}

.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lienEntreTest{
    background: white;
    color: black;
    border-radius: 5%;
    margin: auto;
}

/*bouton retour*/

.boutonRetour {
    width: 100%;
    margin: 2%;
  }
.retour{
    width: 4%;
    text-decoration: none;
    color: white;
    border-radius: 17px;
    background: #dc143c;
    box-shadow:  5px 5px 2px #b21031;
    padding: 1%;
  }
/*fin du bouton retour*/
/*css des boites de details*/
.boiteDetailsEquipe{
    position: relative;
    width: 60%;
    height: 1700px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.boiteDetailsEquipe .contourDetails{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

/*line du contour*/
.boiteDetailsEquipe .contourDetails::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background:#96810b;
}

/*fin des line du contour*/

.boiteDetailsEquipe .contourDetails::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.boiteDetailsEquipe .boiteTexte{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    flex-direction: column;
}

.boiteDetailsEquipe .boiteTexte .titre{
    padding: 40px;
    text-align: center;
    width: 100%;
    flex-direction: column;
    transition: 0.5s;
    padding-bottom: 10px;
    padding-top: 20px;
}

.boiteDetailsEquipe .boiteTexte .titre h2{
    font-size: 1.15em;
    font-weight: 600;
    color: #fff;
}

.detailsInfoEquipe{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.detailsInfoEquipe p{
    font-size: 1.15em;
    color: #45f3ff;
    margin: 2%;
}

.detailsInfoEquipe p span{
    color: #fff;
}

.boiteDetailsEquipe .optionDetails{
    display: flex;
    width: 100%;
    z-index: 1;
    transform: translateY(1600px);
}

.boiteDetailsEquipe .optionDetails .boutonDetail{
    text-decoration: none;
    background: #031e32;
    color: #45f3ff;
    border-radius: 10px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}


/*fin css details Equipe*/