/* barre de navigation sur le coté gauche*/
.navigation{
    position: fixed;
    inset: 0 0 0 0 ;
    background: #fff;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.navigation.active{
    width: 250px;

}

.menuDeroulant{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 23px;
    height: 60px;
    border-bottom:1px solid #2f2f2f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.menuDeroulant::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.active .menuDeroulant::before{
    transform: translateY(0) rotate(45deg);
    
}

.menuDeroulant::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    box-shadow: 0 -8px 0 #333;
    transition: 0.5s;
}

.navigation.active .menuDeroulant::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 0;
    
}

.navigation ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation ul li {
    list-style: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 76px;
    border-radius: 12px;
    border: 8px solid transparent;
    transition: 0.5s;
}

.navigation.active ul li {
    width: 85%;
}

.navigation ul li.active {
    transform: translateX(30px);
    background: var(--bg);
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}



.navigation ul li a .icone{
    position: relative;
    display: block;
    height: 100%;
    min-width: 60px;
    border-radius: 10px;
    background: #fff;
    font-size: 1.75em;
    line-height: 50px;
    border: 6px solid transparent;
}

.navigation ul li.active a .icone{
    background: var(--clr);
}

.navigation ul li.active a .texte{
    color: #fff;
}

.navigation ul li a .texte{
    position: relative;
    padding: 0 15px;
    color: #333;
    display: flex;
    align-items: center;
    height: 60px;
    opacity: 0;
    visibility: hidden;
}

.navigation.active ul li a .texte{
    opacity: 1;
    visibility: visible;
}

.navigation ul li a .icone div {
    display: inline-flex;
    width: 25px;
}
/* fin de la barre de navigation*/