*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

:root{
    --bg : #031e32;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(130deg,#031e32,#022d3b,#031e32);
}

.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corps .titre{
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 2%;
}

/*css des boites de statistique*/
.boiteDetailsStat{
    position: relative;
    width: 80%;
    min-height: 450px;
    background: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.boiteDetailsStat .contourStat{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

/*line du contour*/
.boiteDetailsStat .contourStat::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background:#96810b;
}

/*fin des line du contour*/

.boiteDetailsStat .contourStat::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.boiteDetailsStat .boiteTexte{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}

/*Stat globale*/
.boiteDetailsStat .boiteTexte .boiteStatGeneral{
    width: 100%;
    padding: 3%;
}

.boiteDetailsStat .boiteTexte .boiteStatGeneral .statGeneral{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.boiteDetailsStat .boiteTexte .boiteStatGeneral .statGeneral .nombreStat{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}

.boiteDetailsStat .boiteTexte .boiteStatGeneral .statGeneral .pourcentStat{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.boiteDetailsStat .boiteTexte .boiteStatGeneral h2{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 3%;
}
.boiteDetailsStat .boiteTexte .boiteStatGeneral .statGeneral p{
    color: aqua;
    text-align: center;
    justify-content: space-between;
    display: inline-flex;
    margin-left: 6%;
    margin-right: 6%;
}

.boiteDetailsStat .boiteTexte .boiteStatGeneral .statGeneral p span{
    color: #fff;

}

/*fin stat globale*/
/*stat pour chaque joueur*/
.boiteDetailsStat .boiteTexte .boiteStatParJoueur{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.boiteDetailsStat .boiteTexte .boiteStatParJoueur .titreStatJ{
    color: #fff;
    text-align: center;
    margin: 2%;
}

.boiteDetailsStat .boiteTexte .boiteStatParJoueur .bouton{
    width: 100%;
    padding-left: 10%;
    
}

.boiteDetailsStat .boiteTexte .boiteStatParJoueur .bouton button{
    width: 20%;
    text-decoration: none;
    color: white;
    border: #dc143c;
    border-radius: 17px;
    background: #dc143c;
    box-shadow:  5px 5px 2px #b21031;
    padding: 1%;
    cursor: pointer;
}

.boiteStatParJoueur form{

    margin-left: 5%;
    margin-right: 50%;
    margin-bottom: 3%;
    display: inline-flex;
    justify-content: space-around;
}

.boiteStatParJoueur form input{
    padding: 2%;
    color: #e8e8e8;
    background: #022d3b;
    border: solid 2px #96810b;
    border-radius: 15px;
}

.boiteStatParJoueur form a{
    padding: 2%;
    color: #e8e8e8;
    background: #022d3b;
    border: solid 2px #96810b;
    border-radius: 15px;
}

.boiteStatParJoueur .tableauStatJ{
    margin: auto;
    text-align: center;
    width: 95%;
    margin-bottom: 3%;
}

.boiteStatParJoueur .tableauStatJ table{
    margin: auto;
    text-align: center;
    background: #ad9508;
}

.boiteStatParJoueur .tableauStatJ th{
    color: #00ffff;
    margin: auto;
    background: #1c1c1c;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    
}

.boiteStatParJoueur .tableauStatJ td{
    color: #fff;
    margin: auto;
    background: #1c1c1c;
    padding-top: 1%;
    padding-bottom: 1%;
}

.boiteStatParJoueur .tableauStatJ td a{
    text-decoration: none;
    color: #fff;
}


/*fin stat pour chaque joueur*/
/*fin css statistique*/