*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

:root{
    --bg : #031e32;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(130deg,#031e32,#022d3b,#031e32);
}
/* barre de navigation sur le coté gauche*/
.navigation{
    position: fixed;
    inset: 0 0 0 0 ;
    background: #fff;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.navigation.active{
    width: 250px;

}

.menuDeroulant{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 23px;
    height: 60px;
    border-bottom:1px solid #2f2f2f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.menuDeroulant::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.active .menuDeroulant::before{
    transform: translateY(0) rotate(45deg);
    
}

.menuDeroulant::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    box-shadow: 0 -8px 0 #333;
    transition: 0.5s;
}

.navigation.active .menuDeroulant::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 0;
    
}

.navigation ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation ul li {
    list-style: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 76px;
    border-radius: 12px;
    border: 8px solid transparent;
    transition: 0.5s;
}

.navigation.active ul li {
    width: 85%;
}

.navigation ul li.active {
    transform: translateX(30px);
    background: var(--bg);
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}



.navigation ul li a .icone{
    position: relative;
    display: block;
    height: 100%;
    min-width: 60px;
    border-radius: 10px;
    background: #fff;
    font-size: 1.75em;
    line-height: 50px;
    border: 6px solid transparent;
}

.navigation ul li.active a .icone{
    background: var(--clr);
}

.navigation ul li.active a .texte{
    color: #fff;
}

.navigation ul li a .texte{
    position: relative;
    padding: 0 15px;
    color: #333;
    display: flex;
    align-items: center;
    height: 60px;
    opacity: 0;
    visibility: hidden;
}

.navigation.active ul li a .texte{
    opacity: 1;
    visibility: visible;
}

.navigation ul li a .icone div {
    display: inline-flex;
    width: 25px;
}
/* fin de la barre de navigation*/

/*debut du contenu de la page*/
.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.corps h1{
    text-align: center;
    margin: 5%;
    color: #f0f8ff;
}

.listeEquipes{
    width: 50%;
    height: 100%;
    margin-left: 2.5%;
    border-right: 2px solid #f0f8ff7c;
}

.historique{
    width: 50%;
    height: 100%;
    margin-right: 2.5%;
}

.historique div{
    background-color: #687578;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
/*fin contenu de la page*/

/*debut css carte de joueur*/
.carte{
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    left: 20%;
    margin-bottom: 10%;
    transition: 0.5s;
}

.carte:hover{
    height: 300px;
    cursor: pointer;
}

.carte .contour{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

/*line du contour*/
.carte .contour::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.carte .contour::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.carte .boiteimage{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 120px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.carte:hover .boiteimage{
    width: 200px;
    height: 160px;
}

.carte .boiteimage::before{
    content: '';
    position: absolute;
    top :50%;
    left:50%;
    width: 500px;
    height: 500px;
    transform: translate();
    background:linear-gradient(transparent,#96810b,#96810b,#96810b,transparent);
    transform: translate(-50%,-50%);
}

.carte .boiteimage::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #333;
}

.carte .boiteimage .image{
    position: absolute;
    margin: 10px;
    z-index: 1;
    width: calc(100%-20px);
    height: calc(100%-20px);
}

.carte .boiteInfo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.carte .boiteInfo .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(100px);
}

.carte:hover .boiteInfo .details{
    transform: translateY(80px);
}

.carte .boiteInfo .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
}
.carte .boiteInfo .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: #ffffff;
}

.carte .boiteInfo .details .infoEquipe{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    color: #ffffff;
}
/*fin css carte de joueur*/

 /* Debut de la barre de recherche */

 @import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html,
 body {
   width: 100%;
   height: 100%;
 }
 
 body {
   background: #252525;
 }

 .container {
   position: absolute;
   top: 0;
   left: 1200px;
   right: 0;
   bottom: 0;
   width: 300px;
   height: 100px;
 }
 .container .search {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 55px;
   height: 55px;
   background: crimson;
   border-radius: 50%;
   transition: all 1s;
   z-index: 4;
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
 }
 .container .search:hover {
   cursor: pointer;
 }
 .container .search::before {
   content: "";
   position: absolute;
   margin: auto;
   top: 22px;
   right: 0;
   bottom: 0;
   left: 22px;
   width: 12px;
   height: 2px;
   background: white;
   transform: rotate(45deg);
   transition: all 0.5s;
 }
 .container .search::after {
   content: "";
   position: absolute;
   margin: auto;
   top: -5px;
   right: 0;
   bottom: 0;
   left: -5px;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   border: 2px solid white;
   transition: all 0.5s;
 }
 .container input {
   font-family: "Inconsolata", monospace;
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 50px;
   outline: none;
   border: none;
   background: crimson;
   color: white;
   text-shadow: 0 0 10px crimson;
   padding: 0 80px 0 20px;
   border-radius: 30px;
   box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
   transition: all 1s;
   opacity: 0;
   z-index: 5;
   font-weight: bolder;
   letter-spacing: 0.1em;
 }
 .container input:hover {
   cursor: pointer;
 }
 .container input:focus {
   width: 300px;
   opacity: 1;
   cursor: text;
 }
 .container input:focus ~ .search {
   right: -250px;
   background: #151515;
   z-index: 6;
 }
 .container input:focus ~ .search::before {
   top: 0;
   left: 0;
   width: 25px;
 }
 .container input:focus ~ .search::after {
   top: 0;
   left: 0;
   width: 25px;
   height: 2px;
   border: none;
   background: white;
   border-radius: 0%;
   transform: rotate(-45deg);
 }
 .container input::placeholder {
   color: white;
   opacity: 0.5;
   font-weight: bolder;
 }