*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
body{
    background-color:#031e32;
    color: #ffffff;
}

.logo{
    height: 40px;
}
header {
    display: flex;
}
nav{
    height: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: #bfcbce;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #ffffff;
    border-bottom: 2px solid #947702;
}

.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.listeJoueurs{
    width: 45%;
    margin: 2.5%;
}

.historique{
    width: 45%;
    
    margin: 2.5%;
}

.historique div{
    background-color: #687578;
    border-radius: 20px;
    padding: 2%;
}


/*css des cartes de joueurs*/
.carte{
    width: auto;
    background-color: #3f0d0d;
    border-color: #787003;
    border-width: 5px;
    border-style: double;
    border-radius: 2em;
    display: flex;
    padding: 3%;
    margin-bottom: 5%;
}

.infoJoueur{
    width: 50%;
    color: #fff;
}

.CarteImage {
    width: 30%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: #031337;
}


/* fin du css des cartes de joueurs*/
