*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

:root{
    --bg : #031e32;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(130deg,#031e32,#022d3b,#031e32);
}

/*debut du contenu de la page*/
.corps{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.corps h1{
    text-align: center;
    margin: 5%;
    color: #f0f8ff;
}

.listeJoueurs{
    width: 50%;
    height: 100%;
    margin-left: 2.5%;
    border-right: 2px solid #f0f8ff7c;
}

.carte{
    margin-bottom: 5%;
    transform: translateX(25%);
}

.historique{
    width: 50%;
    height: 100%;
    margin-right: 2.5%;
}

.historique div{
    background-color: #687578;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
/*fin contenu de la page*/
